* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  html {
    color:rgb(39, 38, 3);
    background: #c6d9ec;
  }
  
  body, input, button, textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }